.product{
    text-align: center;
}
.icon{
    font-size: 36px;
    background-color: gold;
    border-radius: 50%;
    height: 100px;
    width: 100px;
    padding-top: 30px;
    margin-left: 200px;
    margin-bottom: 30px;
}

h2{
    margin-bottom: 20px;
    color: rgba(47, 47, 47,);
}