*{
    margin: 0;
    padding: 0%;
    box-sizing: border-box;
}

.calculate{
    height: 400px;
    width: 600px;
    background-color: rgb(30, 116, 116);
    margin: 40px 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
}
.numbers{
    display: flex;
    gap: 20px;
}
.number_one,.numbers_two,.equals{
    height: 30px;
    width: 200px;
    background-color: #fff;
    border-radius: 20px;
    padding:5px 10px;
    margin-top: 40px;
    
}
input[type=number]{
    outline: 0;
    border: 0;
}
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
input[type=text]{
    outline: 0;
    border: 0;
}

button{
    height: 40px;
    width: 120px;
    border: 1px solid black;
    background-color: #fff;
    border-radius: 20px;
}
