.port{
    background-color: rgb(220, 218, 218);
}
.portfolio{
    display: flex;
    flex-wrap: wrap;
    gap: 50px;
    justify-content: center;
    margin-top: 50px;
}
.head-title{
    text-align: center;
}
.Head-text{
    font-size: 36px;
    font-weight: bold;
    padding: 20px;
}