body{
    background-color: bisque;
}
.container{
    margin: auto;
    width: 960px;
    background-color: orange;
    width: 900px;
    height: 500px;
    margin-top: 100px;
    box-shadow: 5px 5px 5px 5px black;
}
h1{
    text-align: center;
    padding-top: 100px;
    color: white;
}
select{
    margin-left: 350px;
    height: 50px;
    width: 200px;
    background-color: rgb(52, 51, 51);
    color: white;
}