.boxs{
    margin-left: 200px;
}
.div1{
    border: 5px solid black;
    height: 300px;
    width: 400px;
    text-align: center;
    padding-top: 100px;
    background-color: royalblue;
    border-image: linear-gradient(45deg,rgb(33, 189, 54),red) 1;
    display: inline-block;
    margin: 40px;
}
.div2{
    border-bottom: 3px solid black;
    height: 300px;
    width: 400px;
    margin-top: 20px;
    text-align: center;
    padding-top: 100px;
    margin-left: 30px;
    border-top: 3px solid black;
    background-color: royalblue;
    border-image: linear-gradient(45deg,rgb(33, 189, 54),red) 1;
    display: inline-block;
    margin: 50px;
}
.div3{
    border-left: 3px solid black;
    border-right: 3px solid black;
    height: 300px;
    width: 400px;
    margin-top: 40px;
    text-align: center;
    padding-top: 100px;
    background-color: royalblue;
    border-image: linear-gradient(45deg,rgb(33, 189, 54),red) 1;
    display: inline-block;
    margin: 50px;
}
.div4{
    border: 3px solid black;
    border-radius: 30px;
    height: 300px;
    width: 400px;
    margin-top: 20px;
    text-align: center;
    padding-top: 100px;
    background-color: royalblue;
    display: inline-block;
    margin: 50px;
}
p{
    color: white;
}