#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

form{
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding: 40px;
  border: 1px solid royalblue;
  border-radius: 8px;
}
.ul{
  list-style: none;
}
li{
  display: flex;
  justify-content: space-around;
  font-size: 20px;
}
.icon{
  cursor: pointer;
}
.reset{
  background-color: red;
  color: white;
  float: right;
}